<!DOCTYPE html>
<html>
<head>
	<title>This event</title>
</head>

<body>

<div class="event">	
	<h1>Wordpress Omaha Planning Meeting (Feb 28, 2017)</h1>
	<hr>
	<div class="event_details">
		<ul>
			<li>Wordpress Omaha</li>
			<li>7:00pm</li>
			<li>7205 Dodge St, Omaha, NE</li>
			<li>
				<a href ="https://www.meetup.com/WP-Omaha/events/237872303/">
					Original Page.
				</a>
			</li>
		</ul>	
	</div>
</div>

</body>
</html>

<!-- groupname, time, where, link to page,
attendies, rsvp button, list of people, modal signup window. -->