<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="/script-events.js"></script>
	<title>This event</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>

<div class="page_body">
	<div class="event">	
		<h2>Wordpress Omaha Planning Meeting (Feb 28, 2017)</h2>
		<hr>
		<div class="event_details">
			<ul>
				<li>Wordpress Omaha</li>
				<li>7:00pm</li>
				<li>Do Space @ 7205 Dodge St, Omaha, NE</li>
				<li>
					<a href ="https://www.meetup.com/WP-Omaha/events/237872303/">
						Original Page.
					</a>
				</li>
			</ul>	
		</div>
	</div>


	<div class="reservations">
		<h2>Attendees</h2>
		<button>RSVP</button>
		<hr>
		<div class="attendies">
			<ul>
				<li>Susan</li>
				<li>Wilbur</li>
				<li>Stevie</li>
			</ul>
		</div>
	</div>
</div>

<div class="modal">

	<div class="modal_body">
		<div class="exit">X</div>
		<h3>Wordpress Omaha Planning Meeting</h3>
		<p>Are you going? RSVP below.</p>
		<form action="">
			<input type="text" placeholder="Enter your name" name="newAttendeeName">
			<input type="submit" name="Submit">
		</form>
	</div>
</div>

</body>
</html>

<!-- groupname, time, where, link to page,
attendies, rsvp button, list of people, modal signup window. -->