<!DOCTYPE html>
<html>
<head>

	<script type="text/javascript" src="/scripts.js"></script>
	<title>Events Page</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
<div class="page_body">
	
	<div class="events">

		<div class="events-date">
			<h1>Feb 27 - March 5, 2017</h1>
			<button>previous</button> 
			<button>next</button>
		</div>

	</div>

	<form class="admin-add-event">
		<h2>Add Event</h2>
		Group: <input type="text" name="group"><br>
		Title: <input type="text" name="title"><br>
		Date: <input type="text" name="date"><br>
		Time: <input type="text" name="time"><br>
		Location: <input type="text" name="location"><br>
		Address: <input type="text" name="address"><br>
		Link: <input type="text" name="link"><br>

		<input type="submit">
	</form>

</div>

</body>
</html>