<!DOCTYPE html>
<html>

<%= erb :"assets/head" %>

<body class="index_page">
<%= erb :"assets/header" %>

	<div class="home_image"></div>
	<div class="page_body">

		<div class="events">
			<div class="events-nav">
				<button class="prevWeek Button">Previous Week</button>
				<form class="Button" method="get" action="/">
					<button type="submit">Current week</button>
				</form> 
				<button class="nextWeek Button">Next Week</button>
			</div>
			<div class="events-date">
				<h1>February 27 - March 5, 2017</h1>
			</div>
			<div class="events-list">
			</div>
		</div>
	</div>
</body>
</html>