<!DOCTYPE html>
<html>

<%= erb :"assets/head" %>

<body class="index_page">
	<div class="page_body">
		<%= erb :"assets/header" %>
		<div class="events">
			<div class="events-date">
				<h1>February 27 - March 5, 2017</h1>
				<div class="events-nav">
					<button class="prevWeek navlink">previous</button> 
					<button class="nextWeek navlink">next</button>
					<form method="get" action="/">
						<button class="navlink" type="submit">this week</button>
					</form>
				</div>
			</div>
			<div class="events-list">
			</div>
		</div>
	</div>
</body>
</html>