<!DOCTYPE html>
<html>
<head>

	<script type="text/javascript" src="/scripts.js"></script>
	<title>Events Page</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
<div class="page_body">	

	<% if session[:username] %>
		<form class="loginForm" action="/logout" method="post">
			<p class="welcome"> Welcome: <%= session["username"] %>
			<button type="Submit" name="logout">Log Out</button></p>
		</form>

		<form class="admin-add-event loginForm">
			<h2>Add Event</h2>
				<input type="text" placeholder="group" name="group"><br>
				<input type="text" placeholder="title" name="title"><br>
				<input type="text" placeholder="date" name="date"><br>
				<input type="text" placeholder="time" name="time"><br>
				<input type="text" placeholder="location" name="location"><br>
				<input type="text" placeholder="address" name="address"><br>
				<input type="text" placeholder="link" name="link"><br>

			<input type="submit">
		</form>

	<% else %>
		<form class="loginForm" action="/login" method="post">
			<input class="username" type="text" placeholder="username" name="user">
			<input class="password" type="password" placeholder="password" name="pass">
			<input class="admin-submit" type='submit'>
		</form>
	<% end %>

	<div class="events">

		<div class="events-date">
			<h1>Feb 27 - March 5, 2017</h1>
			<button>previous</button> 
			<button>next</button>
		</div>

	</div>

</div>

</body>
</html>