<!DOCTYPE html>
<html>
<head>
<title>Events Page</title>
<link rel="stylesheet" type="text/css" href="styles.css">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
<div class="container">
	
	<div class="events">

		<div class="events-date">
			<h1>Feb 27 - March 5, 2017</h1>
			<button>previous</button> 
			<button>next</button>
		</div>

		<div class="event-item">
			<h2>Tuesday</h2>

				<ul>
					<li>4:00pm - Omaha Startup Collaborative - <a href="https://www.meetup.com/StartupCollaborative/events/237857126/">Innovation from Mutual of Omaha with Brian Poppe</a>
					</li>

					<li>5:30pm - Omaha Emerging Developers - <a href="https://www.meetup.com/omaha-emerging-developers/events/237218217/">Lightening Talks</a>
					</li>

					<li>7:00pm - WordPress Omaha - <a href="https://www.meetup.com/WP-Omaha/events/237872303/">Innovation from Mutual of Omaha with Brian Poppe</a>
					</li>
				</ul>
		</div>

		<div class="event-item">
			<h2>Wednesday</h2>

				<ul>
					<li>6:00pm - Omaha Mobile Users Group - <a href="https://www.meetup.com/Omaha-Mobile-Group/events/236809662/">Innovation from Mutual of Omaha with Brian Poppe</a>
					</li>

					<li>6:30pm - Side Projects Club - <a href="https://www.facebook.com/groups/SideProjectsClub/">Lightening Talks</a>
					</li>
				</ul>
		</div>
	</div>

	<form class="admin-add-event">
		<h2>Add Event</h2>
		Group: <input type="text" name="group"><br>
		Title: <input type="text" name="title"><br>
		Date: <input type="text" name="date"><br>
		Time: <input type="text" name="time"><br>
		Location: <input type="text" name="location"><br>
		Address: <input type="text" name="address"><br>
		Link: <input type="text" name="link"><br>

		<input type="submit">
	</form>

</div>

</body>
</html>