.header_title{
	background-color: lightgray;
	top: 8px;
}
.dropDown{
	position: absolute;
	background-color: dodgerblue;
	top: 8px;
}


/*.event_page h2 {
	display: inline;
}
.page_body{
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}
.events-nav{
	display: flex;
	flex-direction: row;
}
.rsvp-actions{
	display: flex;
	flex-direction: row;
}
.navlink{
	margin: 5px;
}
.rsvp-button{
	margin:5px;
}

.modal{
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.42);
}
.modal_body{
	background-color: white;
	width: 50%;
	margin: 150px auto;
	text-align: center;
	padding: 26px;
}
.exit{
	position: absolute;
}

body {

	font-family: 'Roboto', sans-serif;
}

.events-list {

}

h1 {

	border-bottom: solid 1px ;
	border-bottom-color: #EEEEEE;
}
h2 {

	border-bottom: solid 1px ;
	border-bottom-color: #EEEEEE;
}

.admin-add-event {

 display: block;

}

.admin-add-event input{

 min-width: 200px;
 font-size: 12px;
 padding: 1px;
 margin: 3px;
 
}

.loginForm{

	text-align: center;
}



*/