<div class="header">
	<div class="header_title">
		<h1>Events</h1>

<!-- if no one is logged in -->
<% if !session[:user] %>

		<div class="controls">
			<button class="login Button">Login</button>
			<button class="signup Button">Sign-up</button>
		</div>
	</div>
	<!-- Register form -->
	<div class="signup dropDown">
		<form action="/register" method="post">
			<input type="text" placeholder="name" name="fullname" required>
			<input type="email" placeholder="email" name="email" required>
			<input type="password" placeholder="password" name="pass" required>
			<input type='submit' value="Register">
		</form>
	</div>
	<!-- Login form -->
	<div class="login dropDown">
		<form action="/login" method="post">
			<input type="text" placeholder="email" name="user">
			<input type="password" placeholder="password" name="pass">
			<input type='submit' value="Login">
		</form>
	</div>	

<!-- someone is logged in -->
<% else %>

		<!-- log out form -->
		<div class="userinfo"
			<p> Logged in as: <%= session[:user]["fullname"] %>
			<div class="controls">
				<form class="Button" action="/logout" method="post">
					<input type="submit" value="Log Out"></input></p>
				</form>
			
	<!-- if logged in user is an admin -->
	<% if session[:user]["admin"] == "true" %>

				<button class="addEvent Button">Add an Event</button>
			</div>
		</div>
	</div>
	<div class="addEvent dropDown">
		<!-- form for adding event here -->
		<form action="/addEvent" method="post">
			<h2>Add Event</h2>
			<input type="text" placeholder="group name" name="group" required>
			<input type="text" placeholder="event title" name="title" required>
			<input type="date" placeholder="yyyy/mm/dd" name="date" required>
			<input type="time" placeholder="time" name="time" required>
			<input type="text" placeholder="location" name="location" required>
			<input type="text" placeholder="address" name="address" required>
			<input type="url" placeholder="url" name="link" required>
			<input type="submit">
		</form>

	<!-- if not admin close tags -->
	<% else %>

			</div>
		</div>

	<!-- ends admin/basic user condition -->
	<% end %>

	</div>

<!-- ends loggedin/not condition -->
<% end %>

</div>