<div class="header">
	<!-- if user is logged in -->
	<% binding.pry %>
	<% if session[:user] %>

		<!-- if logged in user is an admin -->
		<% if session[:user][:admin] == "true" %>
			<form class="loginForm" action="/logout" method="post">
				<p class="welcome"> Welcome: <%= session[:user][:fullname] %>
				<button type="Submit" name="logout">Log Out</button></p>
			</form>

			<form class="admin-add-event loginForm" action="/addEvent" method="post">
				<h2>Add Event</h2>
					<input type="text" placeholder="group name" name="group" required><br>
					<input type="text" placeholder="event title" name="title" required><br>
					<input type="date" placeholder="yyyy/mm/dd" name="date" required><br>
					<input type="time" placeholder="time" name="time" required><br>
					<input type="text" placeholder="location" name="location" required><br>
					<input type="text" placeholder="address" name="address" required><br>
					<input type="url" placeholder="url" name="link" required><br>

				<input type="submit">
			</form>
		<% end %>

		<form class="loginForm" action="/logout" method="post">
			<p class="welcome"> Welcome: <%= session[:user][:fullname] %>
			<button type="Submit" name="logout">Log Out</button></p>
		</form>

	<!-- if user in not logged in -->
	<% else %>
		<form class="register" action="/register" method="post">
			<input  type="text" placeholder="full name" name="fullname" required>
			<input  type="email" placeholder="email" name="email" required>
			<input  type="password" placeholder="password" name="pass" required>
			<input class="register" type='submit' value="register">
		</form>

		<form class="loginForm" action="/login" method="post">
			<input class="username" type="text" placeholder="email" name="user">
			<input class="password" type="password" placeholder="password" name="pass">
			<input class="admin-submit" type='submit'>
		</form>
	<% end %>
</div>